/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <14 15>;
            bindings = <&kp ESC>;
        };

        backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <19 20>;
        };

        delete {
            bindings = <&kp DELETE>;
            key-positions = <21 20>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <15 16>;
        };

        capt {
            bindings = <&kp CAPS>;
            key-positions = <7 8>;
        };

        screenshot {
            bindings = <&kp PRINTSCREEN>;
            key-positions = <3 4>;
        };
    };

    behaviors {
        ss_hs_modmorph: ss_hs_modmorph {
            compatible = "zmk,behavior-mod-morph";
            label = "SS_HS_MODMORPH";
            bindings = <&kp M>, <&kp RIGHT_BRACKET>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        kh_hs_tapdance: kh_hs_tapdance {
            compatible = "zmk,behavior-tap-dance";
            label = "KH_HS_TAPDANCE";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LEFT_BRACKET>, <&kp RIGHT_BRACKET>;
        };

        hrm: hrm {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <125>;
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp DOUBLE_QUOTES  &kp Q              &kp W                &kp E     &kp R  &kp T        &kp Y    &kp U  &kp I      &kp O                 &kp P                  &kp LEFT_BRACKET
&kp LCTRL          &hrm LEFT_SHIFT A  &hrm LEFT_CONTROL S  &kp D     &kp F  &kp G        &kp H    &kp J  &kp K      &hrm RIGHT_CONTROL L  &hrm RIGHT_SHIFT SEMI  &kp SQT
&kp TILDE          &kp Z              &kp X                &kp C     &kp V  &kp B        &kp N    &kp M  &kp COMMA  &kp DOT               &kp FSLH               &kp RIGHT_BRACKET
                                                           &kp LGUI  &mo 1  &kp SPACE    &kp RET  &mo 2  &kp RALT
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp LEFT_BRACKET   &kp PLUS        &kp UP_ARROW    &kp MINUS        &kp LEFT_PARENTHESIS     &kp SLASH       &kp N7        &kp N8        &kp N9        &kp STAR         &trans
&trans  &kp RIGHT_BRACKET  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp RIGHT_PARENTHESIS    &kp APOSTROPHE  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp KP_NUMBER_0  &kp EQUAL
&trans  &trans             &trans          &trans          &kp UNDER        &trans                   &kp DOT         &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp HASH         &trans
                                           &kp LGUI        &mo 0            &kp SPACE                &kp RET         &mo 2         &kp RALT
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp LEFT_BRACE   &trans    &kp DOLLAR  &trans  &trans       &trans       &trans             &kp END   &trans           &trans  &trans
&trans  &kp RIGHT_BRACE  &kp PIPE  &kp AT      &trans  &trans       &kp C_POWER  &kp C_VOLUME_DOWN  &kp HOME  &kp C_VOLUME_UP  &trans  &trans
&trans  &trans           &trans    &trans      &trans  &trans       &trans       &trans             &trans    &trans           &trans  &trans
                                   &kp LGUI    &mo 0   &kp SPACE    &kp RET      &mo 1              &kp RALT
            >;
        };
    };
};
