/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <14 15>;
            bindings = <&kp ESC>;
            layers = <0>;
        };

        backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <19 20>;
        };

        delete {
            bindings = <&kp DELETE>;
            key-positions = <21 20>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <15 16>;
            layers = <0>;
        };

        capt {
            bindings = <&kp CAPS>;
            key-positions = <7 8>;
        };

        screenshot {
            bindings = <&kp PRINTSCREEN>;
            key-positions = <3 4>;
        };

        game-layer {
            bindings = <&to 3>;
            key-positions = <37 40>;
        };
    };

    behaviors {
        ss_hs_modmorph: ss_hs_modmorph {
            compatible = "zmk,behavior-mod-morph";
            label = "SS_HS_MODMORPH";
            bindings = <&kp M>, <&kp RIGHT_BRACKET>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        kh_hs_tapdance: kh_hs_tapdance {
            compatible = "zmk,behavior-tap-dance";
            label = "KH_HS_TAPDANCE";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LEFT_BRACKET>, <&kp RIGHT_BRACKET>;
        };

        hrm: hrm {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <125>;
            bindings = <&kp>, <&kp>;
        };

        idi_tap: idi_tap {
            compatible = "zmk,behavior-tap-dance";
            label = "IDI_TAP";
            #binding-cells = <0>;
            bindings = <&kp H>, <&idi>;
        };

        num_one_five: num_one_five {
            compatible = "zmk,behavior-tap-dance";
            label = "один и пять";
            #binding-cells = <0>;
            bindings = <&kp NUMBER_1>, <&kp N5>;

            tapping-term-ms = <300>;
        };

        num_two_six: num_two_six {
            compatible = "zmk,behavior-tap-dance";
            label = "NUM_TWO_SIX";
            #binding-cells = <0>;
            bindings = <&kp NUMBER_2>, <&kp NUMBER_6>;

            tapping-term-ms = <300>;
        };

        num_four_eight: num_four_eight {
            compatible = "zmk,behavior-tap-dance";
            label = "NUM_FOUR_EIGHT";
            #binding-cells = <0>;
            bindings = <&kp NUMBER_4>, <&kp N8>;

            tapping-term-ms = <300>;
        };

        num_three_seven: num_three_seven {
            compatible = "zmk,behavior-tap-dance";
            label = "NUM_THREE_SEVEN";
            #binding-cells = <0>;
            bindings = <&kp NUMBER_3>, <&kp N7>;

            tapping-term-ms = <300>;
        };
    };

    macros {
        macro_f1: f1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(LA(F1))>;
            label = "F1";
        };

        macro_f2: macro_f2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(LA(F2))>;
            label = "MACRO_F2";
        };

        macro_f3: macro_f3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(LC(F3))>;
            label = "MACRO_F3";
        };

        ctrl_plus: ctrl_plus {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(KP_PLUS)>;
            label = "CTRL_PLUS";
        };

        ctrl_minus: ctrl_minus {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(KP_MINUS)>;
            label = "CTRL_MINUS";
        };

        gamechat: gamechat {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp T &to 5>;
            label = "GAMECHAT";
        };

        returngame: returngame {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp RET &to 3>;
            label = "RETURNGAME";
        };

        rbrak: rbrak {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LPAR &kp RPAR &kp LEFT_ARROW>;
            label = "RBRAK";
        };

        qbrak: qbrak {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LBKT &kp RBKT &kp LEFT_ARROW>;
            label = "QBRAK";
        };

        fbrak: fbrak {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LBRC &kp RIGHT_BRACE &kp LEFT_ARROW>;
            label = "FBRAK";
        };

        idi: idi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp B &kp L &kp B &kp SPACE &kp Y &kp F &kp LBKT &kp E &kp Q>;
            label = "IDI";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default-layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&tog 6         &kp Q              &kp W                &kp E     &kp R  &kp T        &kp Y    &kp U  &kp I      &kp O                 &kp P                  &kp LEFT_BRACKET
&kp BACKSLASH  &hrm LEFT_SHIFT A  &hrm LEFT_CONTROL S  &kp D     &kp F  &kp G        &kp H    &kp J  &kp K      &hrm RIGHT_CONTROL L  &hrm RIGHT_SHIFT SEMI  &kp SQT
&kp TILDE      &kp Z              &kp X                &kp C     &kp V  &kp B        &kp N    &kp M  &kp COMMA  &kp DOT               &kp FSLH               &kp BACKSLASH
                                                       &kp LGUI  &mo 1  &kp SPACE    &kp RET  &mo 2  &kp RALT
            >;
        };

        num {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none  &fbrak             &kp PLUS        &kp UP_ARROW    &kp MINUS        &rbrak                   &none         &kp N7        &kp N8        &kp N9        &kp SLASH  &ctrl_plus
&none  &kp RIGHT_BRACKET  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp RIGHT_PARENTHESIS    &kp NUMBER_0  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp EQUAL  &kp SQT
&none  &none              &none           &none           &kp UNDER        &qbrak                   &sl 6         &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &none      &ctrl_minus
                                          &kp LGUI        &mo 0            &kp SPACE                &kp RET       &mo 2         &kp RALT
            >;
        };

        system-control {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&bt BT_SEL 0    &none  &kp F1  &kp F2    &kp F3  &none        &none        &none              &kp HOME   &none            &none  &none
&bt BT_SEL 1    &none  &kp F4  &kp F5    &kp F6  &none        &kp C_POWER  &kp C_VOLUME_DOWN  &kp END    &kp C_VOLUME_UP  &none  &none
&bt BT_CLR_ALL  &none  &kp F7  &kp F8    &kp F9  &none        &none        &macro_f1          &macro_f2  &macro_f3        &none  &none
                               &kp LGUI  &mo 0   &kp SPACE    &kp RET      &mo 1              &kp RALT
            >;
        };

        game {
            bindings = <
&kp ESC       &kp TAB    &kp Q  &kp W      &kp R  &kp E        &kp Y      &kp U  &kp I         &kp O  &kp P     &tog 6
&kp LEFT_ALT  &kp LSHFT  &kp A  &kp S      &kp D  &kp G        &kp H      &kp J  &kp K         &kp L  &none     &none
&gamechat     &kp Z      &kp X  &kp F      &kp C  &kp B        &kp N      &kp M  &kp V         &none  &kp FSLH  &none
                                &kp LCTRL  &mo 4  &kp SPACE    &kp ENTER  &to 0  &kp LEFT_GUI
            >;
        };

        game-num {
            bindings = <
&trans  &trans  &trans  &trans  &num_one_five  &num_three_seven    &trans  &kp F7  &kp F8  &kp F9  &trans   &trans
&trans  &trans  &trans  &trans  &num_two_six   &num_four_eight     &trans  &kp F4  &kp F5  &kp F6  &kp F12  &trans
&trans  &trans  &trans  &kp N0  &kp N9         &kp N0              &trans  &kp F1  &kp F2  &kp F3  &kp F10  &kp F11
                        &trans  &trans         &trans              &trans  &trans  &trans
            >;
        };

        game-chat {
            bindings = <
&kp DOUBLE_QUOTES  &kp Q              &kp W                &kp E     &kp R  &kp T        &kp Y        &kp U  &kp I      &kp O                 &kp P                  &kp LEFT_BRACKET
&kp BACKSLASH      &hrm LEFT_SHIFT A  &hrm LEFT_CONTROL S  &kp D     &kp F  &kp G        &idi_tap     &kp J  &kp K      &hrm RIGHT_CONTROL L  &hrm RIGHT_SHIFT SEMI  &kp SQT
&kp TILDE          &kp Z              &kp X                &kp C     &kp V  &kp B        &kp N        &kp M  &kp COMMA  &kp DOT               &kp FSLH               &kp BACKSLASH
                                                           &kp LGUI  &mo 1  &kp SPACE    &returngame  &to 0  &kp RALT
            >;
        };

        mice {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &msc SCRL_UP    &trans          &mmv MOVE_UP    &trans           &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &msc SCRL_DOWN  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans          &trans          &trans          &trans           &trans  &trans
                        &trans  &trans  &trans    &mkp LCLK       &mkp RCLK       &mkp MCLK
            >;
        };
    };
};
